h1{
    color: #B6E4E2;
    font-family: Arial;
}

h2{
    color: #FC766A;
    font-family: Arial;
    font-variant: small-caps;
}

h3{
    color: #91DCE8;
    font-family: Arial;
}

h4{
    color: #05A9C7;
    font-family: Arial;
}

p{
    color: #008D9B;
    font-family: Arial;
}